body {
          background-color: black;
            margin: 0;
            font-family: Arial, sans-serif;
        }
     .backimg{
            
            background-image: url("bg.svg");
            background-color: black;
            background-size: contain;
            

            
            
        }
        nav {
            background-color: #1b1b1b;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        .logo {
            display: flex;
            align-items: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            border-radius: 15px;
            padding: 14px 16px;
            display: inline-block;
        }

        nav a:hover {
            background-color: gray;
            color: black;
        }

        .extra-text {
            color: white;
            font-size: 20px;
            margin-right: 20px; 
            margin-left: 30px;
            font-weight: 600;
        }

        .sign-in {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 14px 35px;
            border: 1px solid white;
            border-radius: 18px;
            margin-right: 10px;
            font-size: large;
            font-weight: 500;
            
        }

        .sign-in:hover {
            background-color:#333;
            color: white;
        }
        

        .containerhero {
          margin-right: 5%;
            margin-top: 0px;
            margin-left: 20%;
           overflow: hidden;
           
        }

        .tigerhero {
            float: right;
            max-width: 30%; 
            margin-top: 3%;
            margin-left: 1%;
            margin-right: 20%;
            height: 60%;
                
        }


        .sign-in1 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 20px;
        
        }

        .sign-in2 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 20px;
        
        }

        .sign-in1:hover {
            background-color: transparent;
            color: white;
        }

        .sign-in2:hover {
            background-color: transparent;
            color: white;
        }
      
        .filledstar {
            
            width: 70px;
            float: inline-end;
        }

        .transparent-div {
      width: fit-content;
      background-color: rgba(82.7, 82.7, 82.7, 0.2); 
      border-radius: 25px;
      display: flex;
      float: left;
      margin-left: 4%;
      margin-bottom: 2%;
        }

        .transelement{
        margin-left: 15px;
        
        }
        .transelement1 {
            margin-right: 50px ;
            display: inline-block;
            color: #ddd;
            font-weight: 700;
            font-size: 20px; 
            display: inline-block;
        }
        
        .star{
            float: inline-end;
           
        }
        .starimg{
            width: 35px;
            float: inline-end;
        }

        .topnav0{
            font-size: large;
            font-weight: 500;
        }
       
        p.texthero{
            color: #ddd; font-size: 60px;font-weight: 600;border-bottom: 0px;margin-bottom: 0px;
        }
        p.texthero1{
            color: gray;font-weight: 900;font-size: 10px;
        }
      
        nav.texthero{
            background-color: transparent; display: inline-block;
        }


        .salesauctions{
            font-size: 16px;font-weight: 300;
        }
        nav.texthero2{
            background-color: transparent;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

       nav a.texthero2 {
            color: white;
            text-decoration: none;
            border-radius: 15px;
            padding: 14px 16px;
            display: inline-block;
        }

        .aboutus{
            background-color: black;
            text-align: center;
            color: white;
            border-top: 3%;
            border-color: black;
            vertical-align: top;
            margin-top: 2%;
            
            height: 6%;
            
        }
        

        .images4{
            align-items: center;
            width: 100%;
            height: 400px;
            background-color:#1A1110;
            border-bottom: 200px;
            border-color:#333;
            display: block;
            margin-bottom: 30px;
            
            
            
        }

        .text4img{
            margin-top: 1%;
            margin-right: 2%;
            margin-left: 3%;
            background-color: transparent;

        }

        .sign457{
    
    background-color: transparent;
    margin-left: 1%;
    padding-left: 0px;
}

        .image-container{
        margin-left: 2%;
      float: left;
      width: 20%; /* Make each column take half of the container width */
      box-sizing: border-box;
      align-items: center;
      display: block;
      }

    .image-container div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 15px;
      background-color:#333 ;
      display: block;
      align-items: center;
      
      border-radius: 5%;
      }
    
    .image-container img {
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
      width: 80%; /* Make the images fill the entire column width */
      height: 150px; /* Maintain aspect ratio */
      display:block; /* Remove extra spacing below the images */
      }

    .image-container1{
        margin-left: 0px;
      float: left;
      width: 20%; /* Make each column take half of the container width */
      box-sizing: border-box;
      display:block
      
    }


    .image-container1 div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 15px;
      background-color:#333 ;
      
      display: block;
      border-radius: 5%;
    }
    
   
    .image-container1 img{
        padding-right: 0;
    align-items: center;
        margin-left: 5%;
        margin-right: 5%;
      width: 90%; /* Make the images fill the entire column width */
      height: 150px; /* Maintain aspect ratio */
      display:block; /* Remove extra spacing below the images */
    }
     

    .sign-in3 {
            color: white;
            background-color:gray;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 20px;
            font-weight: 700;
        
        }
        .sign-in3:hover {
            background-color: transparent;
            color: white;
            font-weight: 700;
        }
        .sign-in4{
            color: white;
            background-color:gray;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 20px;
            font-weight: 700;
        
        }

        .sign-in4:hover {
            background-color: transparent;
            color: white;
            font-weight: 700;
        }


        .collection{
            color: white;
            background-color: black;
            overflow: hidden;
            display: block;
             text-align: left;
             
             align-items: center;
            
            width: 100%;
            margin-bottom: 20px;
        }
        .collection p{
            display: block;
            text-align: center;}
        
        .collection h1{
        
            display: block;
            text-align: center;
            margin-block-end: 0px;
        }

        .backimg2{
            background-image: url(b.png);
            background-color: black;
            background-size: contain;
        }
        .wrapper {
            display: flex;
        
            justify-content: center;
            height: 650px;
           
        }
       
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 80%;
            margin-top: 0px;
            height: 400px;
            margin:10%;
            margin-top: 0px;
        }

        .flex-item {
            text-align: left; 
            flex: 0 0 calc(33.33% - 50px); /* 20px is for spacing between columns */
            display: flex;
            justify-content: center;
            margin: 10px;
            background-color: rgb(82.7,82.7,82.7,0.15);
            flex-direction: column;
            height: 300px;
            border-radius: 2%;
            align-items: center;
            border: 0.1px ridge;
            border-color: rgba(255,215,0,0.18);;
            border-width: thin;
            margin-top: 0px;
            

        }

        .image-container2 {
            width: 100%;
           height: 300px;
            float: auto;
            overflow: hidden;
            border-radius: 8px;
            box-shadow:rgba(0, 0, 0, 0.1);
            
        }

        .image-container2 img{
            align-items: center;
            width: 50%;
            margin-left: 24%;
            height: auto;
            display: block;
            margin-top: 30px;
        }

        .dot {
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;}
         


.coltop{
    float: inline-start;
    width: 100%;
    height: fit-content;
    align-items: start;
}

.colbot{
    float: inline-end;
    width:100%;
    height: 40px;
    align-items: end; 
}
.sign456{
    
    background-color: transparent;
    margin-left: 40%;
}

.creators{
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
 

.image-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            margin-left: 40px;
            margin-right: 40px;
        }

        .image-creator img {
            margin-left: 40%;
            align-items: center;
            width: 50%;
            margin-left: 24%;
            height: auto;
            display: block;
            margin-top: 30px;
        }
        .image-creator{
            margin-left: 20px;
            background-color:#333;
            width: 80%;
            margin-right: 20px;
            margin-bottom: 20px;
           height: auto;
            float: auto;
            overflow: hidden;
            border-radius: 8px;
           
        }
        .dotext{
            margin-top: 20px;
            margin-left: 20px;
            height: 16px;
  width: 15px;
  text-align: center;
  background-color: #4C4E52;
  color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
        }



        .backwrapper{
            background-image: url(b.png);
            background-color: black;
            background-size: contain;
            height: 790px;
        }

        /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white; 
  top: 30px;
  bottom: 80px;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container131 {
  padding: 10px 40px;
  position: relative;
  height: 100px;
  background-color: transparent ;
  width: 30%;
}

/* The circles on the timeline */
.left.container131::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 93.4%;
  background-color: #FF9F55 ;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  margin-right: 0%;
  
}


.right.container131::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0%;
  background-color: white;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  right: -14.5%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(82.7, 82.7, 82.7, 0.2);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(82.7, 82.7, 82.7, 0.2) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -3.8%;
}
.left::after {
  right: -1.5%;
}

/* The actual content */
.content {
    color: white;
  padding: 20px 30px;
  background-color: rgba(82.7, 82.7, 82.7, 0.2); 
  position: relative;
  border-radius: 6px;
}

.howitworks{
    text-align: center;
    color: white;
    margin: 3%;
}
.howit{
    display: flex;
    flex-direction: column;
}
.setup{

   
    align-items: center;

}
.imwrap{
    
    width: 100%;
    height: 250px;
    background-image: url(b.png);
    background-size: cover;
    align-items: center;
    overflow: hidden;
}
.imjoin{
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}


form
{
    text-align: center;
    margin-bottom: 0px;
    
}


.form-container {
    flex-wrap: wrap;
    float: left;
    background-color: white;
      width: 20%;
      margin: 5%;
      margin-right: 0%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 15px; /* Adjust the border radius as needed */
      margin-left: 37%;
      
    }

  

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 0px;
      border: 1px solid #ccc;
      border-radius: 5px; /* Adjust the border radius as needed */
      box-sizing: border-box;
    }
    .formmm{
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .sign56{
    
    background-color: transparent;
    margin-left: 5px;
    padding: 0%;

}


.sign-in5{
            color: white;
            background-color:gray;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 0px;
            font-weight: 700;
        
        }

        .sign-in5:hover {
            background-color: transparent;
            color: white;
            font-weight: 700;
        }

        .setimage{
            float: left; 
            align-items: right;
            width: 50%;
        }

        .setext{
            float: right; width: 50%;margin-top: 9%;margin-bottom: 10.426%;
            
        }
        .creatext{
            float: left; 
            width: 50%;
            margin-top: 0%;
        }
        .createimage{
            align-items: center;
            width: 50%;
            float: right;
        }
        .setext h1{
            color: white;
            margin-left: 10%;
            margin-block-start: 0;
        }
        @media screen and (max-width: 680px){
        
        html{
            overflow-x: hidden !important;
        }
        
        body {
          background-color: black;
            margin: 0;
            width: 100%;
            overflow-x: hidden;
            font-family: Arial, sans-serif;
        }
	.backimg{
            
           	background-image: url("bg.svg");
            	background-color: black;
		background-size: cover;
		background-position: right 20%;
           
        }

        nav {
            width: 100%;
            background-color: #1b1b1b;
            padding: 5px;
            text-align: center;
            display: block;
            justify-content: space-between;
            align-items: center;
            
        }

        .logo {
            font-size: 18px;
            font-weight: 700;
            width: 100%;
            display: block;
            align-items: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            border-radius: 7.5px;
            padding: 7px 8px;
            display: inline-block;
        }

        nav a:hover {
            background-color: gray;
            color: black;
        }

        .extra-text {
            align-self: center;
            display: block;
            color: white;
            font-size: 22px;
            margin-right: 5px; 
            margin-left: 7.5px;
            font-weight: 800;
        }

        .sign-in {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 3px 6px;
            border: 1px solid white;
            border-radius: 15px;
            margin-right: 5px;
            font-size: 10px;
            font-weight: 500;
            
        }

        .sign-in:hover {
            background-color:#333;
            color: white;
        }


        .containerhero {
            max-width: 100%;
          margin-right: 25px;
            margin-top: 0px;
            margin-left: 50px;
           overflow: hidden;
           margin-bottom: 15px;
        }

        .tigerhero {
            max-height: 10%;
            max-width: 80%; 
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 40px;
            margin-bottom: 30px;
                
        }


        .sign-in1 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 1px 6px;
            border: 0.5px solid white;
            border-radius: 12.5px;
            margin-right: 0px;
            margin-left: 7%;
            margin-bottom: 8px;
            overflow: hidden;
            float:inline-start;
            text-align:left;
            font-size: 14px;
        
        }
        .sign-in2 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 1px 6px;
            border: 0.5px solid white;
            border-radius: 12.5px;
            margin-right: 0px;
            margin-left: 7%;
            margin-bottom: 8px;
            overflow: hidden;
            float:inline-start;
            text-align:left;
            font-size: 14px;
        
        }

        .sign-in1:hover {
            background-color: white;
            color:#ffae42;
        }
       .sign-in1:hover {
            background-color: transparent;
            color: white;
        }

        .sign-in2:hover {
            background-color: transparent;
            color: white;
        }
        .filledstar {
            
            width: 35px;
            float: right;
        }

        .transparent-div {
            align-items: center;
      width: fit-content;
      background-color: rgba(82.7, 82.7, 82.7, 0.2); 
      border-radius: 12.5px;
      display: flex;
      float: left;
      margin-left: 15%;
      margin-right:0px;
        }

        .transelement{
        margin-left: 7.5px;
        
        }
        .transelement1 {
            margin-right: 25px ;
            display: inline-block;
            color: #ddd;
            font-weight: 700;
            font-size: 16px; 
           
        }
        
        .star{
            display: block;
            float: center;
           
        }
        .starimg{
            width: 17.5px;
            float: inline-end;
        }

        .topnav0{
            font-size: 13px;
            font-weight: 500;
        }
       
        p.texthero{
            color: #ddd; font-size: 40px;font-weight: 600;border-bottom: 0px;margin-bottom: 0px;
        }
        p.texthero1{
            color: gray;font-weight: 900;font-size: 10px;
        }
	nav.texthero{
            background-color: transparent; display: inline-block;
        }


        
      
        nav.texthero2{
            background-color: transparent; 
            display: inline-block;
            justify-content: space-between;
            align-items: left;
            overflow: hidden;
        }
            nav a.texthero2 {
            color: white;
            text-decoration: none;
            border-radius: 15px;
            padding: 14px 16px;
            display: inline-block;
            margin-bottom: 20px;
                overflow: hidden;
        }


        .salesauctions{
            font-size: 10px;
            font-weight: 300;
        
        }
        
            
        .texthero2>nav a{
        float:inline-start;
            text-align:left;
            margin-left:0px;
            overflow: hidden;
        }
            
            
        .texthero2>nav {
            float:inline-start;
            text-align:left;
            margin-left:0px;
            overflow: hidden;
        }

            .sign-in2 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 1px 6px;
            border: 0.5px solid white;
            border-radius: 12.5px;
            margin-right: 0px;
            margin-left: 5px;
            margin-bottom: 8px;
            overflow: hidden;
            float:inline-start;
            text-align:left;
            font-size: 14px;
        
        }

        .sign-in2:hover {
            background-color: white;
            color:#ffae42;
        }

	.about{
        margin-bottom: 10px;
        padding: 0;
        padding-bottom: 0%;
    }
	
   .aboutus{
            background-color: black;
            text-align: center;
            color: white;
            border-top: 0px;
            border-color: black;
            
           
            padding-bottom: 0%;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 10px;
            
        }
        
.text4img p{
    margin-top: 0;
    margin-block-start: 0;
}
        .images4{
            width: 100%;
            height: 1000px;
            background-color:#1A1110;
            border-bottom: 200px;
            border-color:#333;
            display: block;
            margin-bottom: 30px;
            
            
            
        }
        .image11{
            float: left;
            margin-left: 9% !important;
            
        }
.image12{
    float: right;
    margin-right: 9% !important;
}

.image13{
            float: left;
            margin-left: 9% !important;
        }
        .image14{
    float: right;
    margin-right: 9% !important;
} 

.image11 img,.image12 img,.image13 img,.image14 img{
    margin-right: 10%;
    margin-left: 0;

}



        .text4img{
           
            margin-left: 8%;
           
            width: 84%;
            display: block;
            margin-top: 0px;
            margin-right: 8%;
            overflow: hidden;

        }



        .image-container{
        margin-left: 0px;
      
      width: 100%; /* Make each column take half of the container width */
      box-sizing: border-box;
      display: block;
      }

    .image-container div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 3%;
      background-color:#333 ;
      display: block;
      
      border-radius: 5%;
      }
    
    .image-container img {
      width: 130px; /* Make the images fill the entire column width */
      height: 130px; /* Maintain aspect ratio */
      display:block; /* Remove extra spacing below the images */
      }

    .image-container1{
        margin-left: 0px;
      float: left;
      width: 100%; /* Make each column take half of the container width */
      box-sizing: border-box;
      display:block
      
    }


    .image-container1 div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 3%;
      background-color:#333 ;
      
      display: block;
      border-radius: 5%;
    }
    
    .image-container1 img {
      width: 130px; /* Make the images fill the entire column width */
      height: 130px; /* Maintain aspect ratio */
      display: block; /* Remove extra spacing below the images */
    }
    
     

    .sign-in3 {
            color: white;
            background-color:gray;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 0px;
            font-weight: 700;
        
        }
        .sign-in3:hover {
            background-color: transparent;
            color: white;
            font-weight: 700;
        }
        .sign-in4{
            color: white;
            background-color:gray;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 20px;
            font-weight: 700;
        
        }

        .sign-in4:hover {
            background-color: transparent;
            color: white;
            font-weight: 700;
        }


        .collection{
            color: white;
            background-color: black;
            overflow: hidden;
            display: block;
             text-align: left;
             
             align-items: center;
            
            width: 100%;
            margin-bottom: 20px;
        }
        .collection p{
            display: block;
            text-align: center;}
        
        .collection h1{
        
            display: block;
            text-align: center;
            margin-block-end: 0px;
        }

        .backimg2{
            background-image: url(bg.svg);
            background-position: right 60%;	
            background-color: black;
            background-size: cover;
        }
        .wrapper {
            
        overflow: hidden;
            
            height: 1600px;
           
        }
       
        .flex-container {
            
            
            
            width: 80%;
            margin-top: 0px;
            height: 400px;
            margin:10%;
            margin-top: 0px;
        }

        .flex-item {
            text-align: left; 
            display: block;
            
            flex: 0 0 calc(90% - 50px); /* 20px is for spacing between columns */
            margin: 10px;
            background-color: rgb(82.7,82.7,82.7,0.15);
            
            height: 250px;
            border-radius: 2%;
            align-items: center;
            border: 0.1px ridge;
            border-color: rgba(255,215,0,0.18);;
            border-width: thin;
            margin-top: 0px;
            width: 3000px;
            

        }
       

        .image-container2 {
            width: 100%;
           height:max-content;
            display: block;
            overflow: hidden;
            border-radius: 8px;
            box-shadow:rgba(0, 0, 0, 0.1);
            
        }

        .image-container2 img{
            align-items: center;
            width: 50%;
            margin-left: 24%;
            height: auto;
            display: block;
            margin-top: 30px;
        }

        .dot {
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;}
         


.coltop{
    float: inline-start;
    width: 100%;
    height: fit-content;
    align-items: start;
}

.colbot{
    float: inline-end;
    width:100%;
    height: 40px;
    align-items: end; 
}
.sign456{
    
    background-color: transparent;
    margin-left: -10px;
    padding-left: 0px;
}
.sign457{
    
    background-color: transparent;
    margin-left: -20px;
    padding-left: 0px;
}

.creators{
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
 

.image-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            margin-left: 40px;
            margin-right: 40px;
        }

        .image-creator img {
            margin-left: 40%;
            align-items: center;
            width: 50%;
            margin-left: 24%;
            height: auto;
            display: block;
            margin-top: 30px;
        }
        .image-creator{
            margin-left: 30px;
            background-color:#333;
            width: 80%;
            margin-right: 20px;
            margin-bottom: 20px;
           height: auto;
            float: auto;
            overflow: hidden;
            border-radius: 8px;
           
        }
        .dotext{
            margin-top: 20px;
            margin-left: 20px;
            height: 16px;
  width: 15px;
  text-align: center;
  background-color: #4C4E52;
  color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
        }



        .backwrapper{
            background-image: url(bg.svg);
            background-color: black;
	    background-position: right 60%;
            background-size: cover;
            height: 1440px;
        }

        /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white; 
  top: 30px;
  bottom: 80px;
  left: 5%;
  margin-left: -3px;
  height: 1190px;
}

/* Container around content */
.container131 {
  padding: 10px 40px;
  position: relative;
  height: 200px;
  background-color: transparent ;
  margin-bottom: 15px;
  width: 70%;
}

/* The circles on the timeline */
.left.container131::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0%;
  left: 0%;
  background-color: #FF9F55 ;
  padding: 0;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.right.container131::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0%;
  padding: 0;
  background-color: white;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0%;
}

/* Place the container to the right */
.right {
  left: 0%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
  height: 0;
  position: absolute;
  top: 40px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(82.7, 82.7, 82.7, 0.2) transparent transparent;

}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(82.7, 82.7, 82.7, 0.2) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: 0%;
  right: 0%;
}
.left::after {
    left: 0%;
  right: 0%;

}

/* The actual content */
.content {
    color: white;
  padding: 20px 30px;
  background-color: rgba(82.7, 82.7, 82.7, 0.2); 
  position: relative;
  border-radius: 6px;
  margin-bottom: 30px;
}

.howitworks{
    text-align: center;
    color: white;
    margin: 3%;
}
.howit{
    display: block;
}
.setup{

   
    align-items: center;

}
.imwrap{
    
    width: 100%;
    height: 250px;
    background-image: url(b.png);
    background-size: cover;
    align-items: center;
    overflow: hidden;
}
.imjoin{
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}


form{
    text-align: center;
    margin-bottom: 0px;
    
}


.form-container {
    flex-wrap: wrap;
    float: left;
    background-color: white;
      width: 80%;
      margin: 0px;
      margin-left: 10% !important;
      margin-right: 0%;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 15px; /* Adjust the border radius as needed */
      margin-left: 435px;
      
    }

  

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 0px;
      border: 1px solid #ccc;
      border-radius: 5px; /* Adjust the border radius as needed */
      box-sizing: border-box;
    }
    .formmm{
        height: 50px;
        display: block;
        margin-bottom: 0%;
        margin-block-end: 0;
        align-items: center;
    }
    
    .sign56{
    
    background-color: transparent;
    margin-left: 5px;
    padding: 0%;

}
.imjoin p{
    font-size: 9px !important;
}


.sign-in5{
            color: white;
            background-color:gray;
            text-decoration: none;
            padding: 10px 25px;
            border: 0.5px solid white;
            border-radius: 25px;
            margin-right: 0px;
            font-weight: 700;
        
        }

        .sign-in5:hover {
            background-color: transparent;
            color: white;
            font-weight: 700;
        }
        .padding5{
            padding-right: 0;
            padding-left: 0;
        }
        
        
        .setext{
            display: block;
            float: none;
            width: 100%;
        }
        .creatext{
            display: block;
            float: none;
            margin-bottom: 40px;
            width: 100%;
        }
        .createimage{
            display: block;
            float: none;
            width: 100%;
            height: 200px;
            margin-left: 20% !important;
        }


        .setext h1,.creatext h1 {
            margin-left: 15% !important;
            margin-bottom: 10px;

        }
        .setext p,.creatext p{
            margin-left: 22% !important;
        }


        .setimage{
            display: block;
            float: none;
            width: 100%;
            height: 200px;
            margin-left: 0% !important;

        }
        .setimage img{
            margin-left: 15% !important;
        }
        .sefilled{
            width: 100% !important;

        }

        .sefilled img{
            width: 20% !important;
            margin-left: 40% !important;
        }
        
        @media  (min-width:365px) and (max-width: 400px) {
            .image-container1 div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 1%;
      background-color:#333 ;
      
      display: block;
      border-radius: 5%;
    }
    .image-container div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 1%;
      background-color:#333 ;
      
      display: block;
      border-radius: 5%;
    }
        }
        .joinn{
            width: 100% !important;

        }

.image-creator h3{
 margin-left: 30% !important;
 
}
.image-creator h5{
    margin-left: 20% !important;
}



        @media (max-width: 364px) {
            .image-container1 div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 2%;
      background-color:#333 ;
      
      display: block;
      border-radius: 5%;
    }
    .image-container div {
      flex: 0 0 50%; /* Make each column take half of the container width */
      box-sizing: border-box;
      padding: 10px; /* Add padding to create space around the images */
      margin: 2%;
      background-color:#333 ;
      
      display: block;
      border-radius: 5%;
    }


		 .sign-in1 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 1px 6px;
            border: 0.5px solid white;
            border-radius: 12.5px;
            margin-right: 5px;
            margin-left: 0%;
            margin-bottom: 8px;
            overflow: hidden;
            float:inline-start;
            text-align:left;
            font-size: 14px;
        
        }
        .sign-in2 {
            color: white;
            background-color:#ffae42;
            text-decoration: none;
            padding: 1px 6px;
            border: 0.5px solid white;
            border-radius: 12.5px;
            margin-right: 0px;
            margin-left: 0%;
            margin-bottom: 8px;
            overflow: hidden;
            float:inline-start;
            text-align:left;
            font-size: 14px;
        
        }
	.texthero2 ul{
		padding-inline-start: 25px;
	}
	

		nav.texthero2{
            background-color: transparent; 
            display: inline-block;
            justify-content: space-between;
            align-items: left;
            overflow: hidden;
	    margin-left: 0px;
	    
        }


		 .transparent-div {
            align-items: center;
      width: fit-content;
      background-color: rgba(82.7, 82.7, 82.7, 0.2); 
      border-radius: 12.5px;
      display: flex;
      float: left;
      margin-left: 5%;
      margin-right:0px;
        }

    .image-container1 img {
      width: 100px; /* Make the images fill the entire column width */
      height: 100px; /* Maintain aspect ratio */
      display: block; /* Remove extra spacing below the images */
    }
    
    .image-container img {
      width: 100px; /* Make the images fill the entire column width */
      height: 100px; /* Maintain aspect ratio */
      display: block; /* Remove extra spacing below the images */
    }
    .image11{
            float: left;
            margin-left: 13% !important;
            
        }
.image12{
    float: right;
    margin-right: 13% !important;
}

.image13{
            float: left;
            margin-left: 13% !important;
        }
        .image14{
    float: right;
    margin-right: 13% !important;
} 


        }
        
    }
    
    

    
   

        
    